#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_48 {
  -ms-transform: rotate(90.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_7 {
  -ms-transform: rotate(270.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-TEXY222 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirdateyear {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirminute {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirhour {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirtype_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirmonth {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-hatirday {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: dotted;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1b087462-ce89-4e96-a9b4-49f4b2f668a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}