#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Statusbar-white {
  position: absolute;
  width: 414px;
  height: 20px;
  z-index: 100;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_34 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Group_13 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_16 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Ellipse_17 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_20 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_35 > svg {
  width: 14px;
  height: 14px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_35 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_36 > svg {
  width: 18px;
  height: 18px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_36 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_1 {
  position: absolute;
  width: 350px;
  height: 300px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-konum {
  position: absolute;
  width: 43px;
  height: 40px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Group_2 {
  position: absolute;
  width: 118px;
  height: 59px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_1 {
  position: absolute;
  width: 118px;
  height: 58px;
  background-color: #6ACCCB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_1 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_1 {
  position: absolute;
  width: 103px;
  height: 59px;
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Group_1 {
  position: absolute;
  width: 52px;
  height: 52px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_48 > svg {
  width: 30px;
  height: 30px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_48 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_4 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_7 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Dynamic_Panel_1 {
  position: absolute;
  display: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Panel_1 {
  width: 154px;
  height: 58px;
  background-color: #FFFD71;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_6 {
  position: absolute;
  padding-top: 1px;
  padding-right: 100px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_7 {
  position: absolute;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_8 {
  position: absolute;
  padding-top: 1px;
  padding-right: 100px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_2 {
  position: absolute;
  width: 158px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_5 {
  position: absolute;
  width: 158px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_7 {
  position: absolute;
  width: 158px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Search-bar-left-loading {
  position: absolute;
  width: 414px;
  height: 56px;
  display: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Group_34 {
  position: absolute;
  width: 414px;
  height: 3px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_14 {
  position: absolute;
  width: 414px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Line_15 {
  position: absolute;
  width: 414px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #shapewrapper-s-Line_15 {
  display: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Search-bar-left_2 {
  position: absolute;
  width: 414px;
  height: 56px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Group_70 {
  position: absolute;
  width: 414px;
  height: 56px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_10 {
  position: absolute;
  width: 414px;
  height: 55px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 {
  position: absolute;
  padding-left: 26px;
  width: 299px;
  height: 27px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  text-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Input_15 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_49 > svg {
  width: 13px;
  height: 13px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Image_49 {
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Button_12 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Button_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Category_1 {
  position: absolute;
  padding-left: 15px;
  width: 309px;
  height: 40px;
  background-color: #EFEFEF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  vertical-align: middle;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Category_1 .value {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Category_1 .valign {
  width: 281px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_1 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #00FF00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21170c17-b8c1-43f6-9d7f-36ccbc400ed7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}