#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_48 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: -1px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-filter_rec_overlay {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-filter_rec {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-filter_close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_41 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_42 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_43 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_44 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_45 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_46 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_47 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Line_48 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Ellipse_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-27a57681-edc9-4104-8d28-0f51fdb9e73a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}