#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_48 {
  -ms-transform: rotate(90.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_8 {
  -ms-transform: rotate(270.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess {
  -ms-transform: rotate(0.0deg);
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}