#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_48 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 0px;
  margin-top: -1px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_8 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: -1px;
  margin-top: -1px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 INPUT {
  font-family: Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 INPUT {
  font-family: Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 INPUT {
  font-family: Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}