#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 {
  position: absolute;
  width: 393px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 {
  position: absolute;
  width: 393px;
  height: 250px;
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 {
  position: absolute;
  width: 393px;
  height: 196px;
  background-color: transparent;
  background-image: none;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  border-right-width: 3px;
  border-right-style: dotted;
  border-right-color: #A9A9A9;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #A9A9A9;
  border-left-width: 3px;
  border-left-style: dotted;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Statusbar-white {
  position: absolute;
  width: 414px;
  height: 20px;
  z-index: 100;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_13 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_16 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Ellipse_17 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_20 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_35 > svg {
  width: 14px;
  height: 14px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_35 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_36 > svg {
  width: 18px;
  height: 18px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_36 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-gun {
  position: absolute;
  width: 69px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-gun .valign {
  width: 41px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ay {
  position: absolute;
  width: 69px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ay .valign {
  width: 41px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-yil {
  position: absolute;
  width: 69px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-yil .valign {
  width: 41px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_2 {
  position: absolute;
  width: 52px;
  height: 52px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_48 > svg {
  width: 30px;
  height: 30px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_48 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_3 {
  position: absolute;
  width: 52px;
  height: 52px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_8 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_1 {
  position: absolute;
  width: 52px;
  height: 52px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_49 {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_9 > svg {
  width: 51px;
  height: 43px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_9 {
  position: absolute;
  width: 51px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_7 span#rtr-s-Text_7_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 {
  position: absolute;
  width: 119px;
  height: 29px;
  background-color: #6ACCCB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 {
  position: absolute;
  width: 119px;
  height: 29px;
  background-color: #6ACCCB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 input::-webkit-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 input::-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 input:-moz-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 input:-ms-input-placeholder {
  color: #666666;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 {
  position: absolute;
  padding-left: 15px;
  width: 130px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-ad_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 {
  position: absolute;
  width: 127px;
  height: 29px;
  background-color: #6ACCCB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Dynamic_Panel_2 {
  position: absolute;
  display: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Panel_2 {
  width: 147px;
  height: 45px;
  background-color: #FFFD71;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 {
  position: absolute;
  padding-right: 55px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_67 span#rtr-s-Text_67_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 {
  position: absolute;
  padding-right: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Text_68 span#rtr-s-Text_68_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_36 {
  position: absolute;
  width: 145px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_37 {
  position: absolute;
  width: 146px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Search-bar-left-loading {
  position: absolute;
  width: 414px;
  height: 56px;
  display: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_34 {
  position: absolute;
  width: 414px;
  height: 3px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_14 {
  position: absolute;
  width: 414px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Line_15 {
  position: absolute;
  width: 414px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #shapewrapper-s-Line_15 {
  display: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Search-bar-left_2 {
  position: absolute;
  width: 414px;
  height: 56px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Group_70 {
  position: absolute;
  width: 414px;
  height: 56px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 {
  position: absolute;
  width: 414px;
  height: 55px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 {
  position: absolute;
  padding-left: 26px;
  width: 299px;
  height: 27px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  box-shadow: none;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Input_15 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_50 > svg {
  width: 13px;
  height: 13px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Image_50 {
  position: absolute;
  width: 13px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-Button_12 span#rtr-s-Button_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #00FF00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilsuccess span#rtr-s-profilsuccess_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-profilfail span#rtr-s-profilfail_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #00FF00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifresuccess span#rtr-s-sifresuccess_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifrefail span#rtr-s-sifrefail_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis span#rtr-s-sifretekraryanlis_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis span#rtr-s-sifretekraryanlis_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifretekraryanlis span#rtr-s-sifretekraryanlis_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-sifreyanlis span#rtr-s-sifreyanlis_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #00FF00;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostasuccess span#rtr-s-epostasuccess_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe #s-epostafail span#rtr-s-epostafail_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2a81aa0f-a3d7-4799-a914-b690bd16e3fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}