#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-kaydet {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-sifreunttum INPUT {
  font-family: Arial;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-epotext {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-yenisifre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-guvenlikkodu INPUT {
  font-family: Arial;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-yenisifretekrar INPUT {
  font-family: Arial;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-yenisifre_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Ok-Blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9f08ff0e-8793-4eb2-933f-a5cd4dd6b91a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}