#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-main_text_with_value {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_48 {
  -ms-transform: rotate(90.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_7 {
  -ms-transform: rotate(270.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-tiyatro {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-muze {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-soylesi {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-konser {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-sonuc_bulamadi {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-hidden_label {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-olgun_portakal {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-dongu {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-kadir {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-yusuf {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-anitkabir {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-altinkoy {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-sila {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-fettah {
  border-collapse: separate;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rich_text_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 194px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rich_text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 194px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Rich_text_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 194px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_14 {
  -ms-transform: rotate(0.0deg);
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 #s-Button_13 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aab92da2-0080-41ef-b9d1-900699910cf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}