#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Statusbar-white {
  position: absolute;
  width: 414px;
  height: 20px;
  z-index: 100;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_34 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Group_13 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_16 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_17 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_20 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_35 > svg {
  width: 14px;
  height: 14px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_35 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_36 > svg {
  width: 18px;
  height: 18px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_36 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_3 {
  position: absolute;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_3 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad {
  position: absolute;
  padding-left: 15px;
  width: 149px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ad input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-giris {
  position: absolute;
  width: 182px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-giris .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-giris span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 28.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-giris span#rtr-s-giris_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad {
  position: absolute;
  padding-left: 15px;
  width: 149px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-soyad input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-gun {
  position: absolute;
  width: 69px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-gun .valign {
  width: 41px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ay {
  position: absolute;
  width: 69px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-ay .valign {
  width: 41px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-yil {
  position: absolute;
  width: 69px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-yil .valign {
  width: 41px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_1 {
  position: absolute;
  padding-right: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon {
  position: absolute;
  padding-left: 15px;
  width: 190px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-telefon input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup {
  position: absolute;
  padding-left: 15px;
  width: 190px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-epostasignup input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup {
  position: absolute;
  padding-left: 15px;
  width: 190px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar input::-webkit-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar input::-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar input:-moz-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar input:-ms-input-placeholder {
  color: #666666;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar {
  position: absolute;
  padding-left: 15px;
  width: 190px;
  height: 39px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.9;
  box-shadow: none;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar .valign {
  vertical-align: middle;
  line-height: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  text-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_2 span {
  color: #FC1268;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FC1268;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_4 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_5 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_6 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_7 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_8 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_9 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_10 span {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FC0F3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_7 > svg {
  width: 42px;
  height: 35px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_7 {
  position: absolute;
  width: 42px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #FC1268;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 span#rtr-s-Text_11_1 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Group_1 {
  position: absolute;
  width: 52px;
  height: 52px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_5 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_49 {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}