#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-giris {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifresignup INPUT {
  font-family: Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-sifretekrar INPUT {
  font-family: Arial;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b8ff71d6-a8b9-447b-b9ac-38818586b8a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}