#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-konum {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_1 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_1 {
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_48 {
  -ms-transform: rotate(90.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 26px 26px 26px 26px;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_7 {
  -ms-transform: rotate(270.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70) alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Line_15 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Rectangle_10 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Category_1-options {
  background-color: #EFEFEF;
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cbe0d774-3b3d-4d28-b9b5-c4ee8bf34677 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}